/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-image: url(../img/VG_GW_BG\ copy.jpg);
  background-color: rgb(254, 243, 226);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: title;
  src: url(../fonts/AmaticSC-Bold.ttf);
}
@font-face {
  font-family: tekst;
  src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf);
}
.cart {
  width: 30px;
  height: 30px;
}
header section h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: title;
  font-size: 100px;
  font-weight: bolder;
  top: 100px;
  color: #4254b3;
}
header section h1 {
  position: relative;
}
header h1::after {
  content: "";
  background-color: #4254b3;
  height: 4px;
  width: 200px;
  position: absolute;
  bottom: -40px;
  justify-content: center;
}
/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#hamnav {
  font-family: tekst;

  width: 100%;
  background: #56a1a5;
}

/* (B) HORIZONTAL MENU ITEMS */
#hamitems {
  display: flex;
}
#hamitems a {
  font-family: tekst;

  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover {
  background: #4254b3;
}

/* (C) HIDE HAMBURGER */
#hamnav label,
#hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  /* (A) BREAK INTO VERTICAL MENU */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #56a1a5;
  }

  /* (B) SHOW HAMBURGER ICON */
  #hamnav label {
    display: inline-block;
    color: white;
    background: #f8d31e;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* (C) TOGGLE SHOW/HIDE MENU */
  #hamitems {
    display: none;
  }
  #hamnav input:checked ~ #hamitems {
    display: block;
  }
}

/* login */
main {
  padding: 200px;
}
.main_title {
  padding-bottom: 20px;
  font-family: title;
  font-size: 75px;
  font-weight: bolder;
  color: #4254b3;
}
main a {
  text-decoration: none;
  color: rgb(254, 243, 226);
}
form {
  font-family: tekst;
  font-size: 20px;
  color: #4254b3;
}

.button {
  background-color: #56a1a5;
  border: none;
  border-radius: 10px;
  color: rgb(254, 243, 226);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* footer */
footer {
  background-color: #56a1a5;
  font-size: 15px;
  font-family: "Trebuchet MS";
  text-align: center;
  color: rgb(254, 243, 226);
  padding: 20px;
}
